@import 'base';

h1 {
  font-family: "Lobster", cursive;
}

.btn-pic{
  img{
    transition: .5s;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
.bg-book{
  background-color: darkkhaki;
}

/*--book-----*/



