@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #000000;
  color: #F7E9E5;
  font-style: normal;
}

.text-orange {
  color: #EC6437;
}

.btn-orange {
  color: #fff;
  background-color: #EC6437;
  border-color: #EC6437;
}

.btn-orange:hover {
  background-color: #7e280c;
  border-color: #7e280c;
}

body {
  background-color: #EB6F50;
  color: black;
}

h1, .write {
  font-family: "Lobster", cursive;
}

/*---pic drop---*/
.picBox {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.picBox .img {
  position: absolute;
  background-color: white;
  border-radius: 5em;
  -webkit-animation: mbt 5s 0s linear infinite both;
          animation: mbt 5s 0s linear infinite both;
  width: 50%;
}

.picBox .img:nth-child(1) {
  left: 200px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.picBox .img:nth-child(2) {
  left: 100px;
}

.picBox .img:nth-child(3) {
  top: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.picBox .img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  z-index: 1;
}

.picBox .img:hover img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes mbt {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes mbt {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

/*modal*/
.bg2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), color-stop(5%, rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, 0.2) 5%);
  background-size: 20px 20px;
  background-repeat: repeat;
}

.bg-a {
  background-color: rgba(0, 0, 0, 0);
}

.photo {
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  margin-left: -15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bg-2color-1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #6EA9B1), color-stop(50%, #77ACB4));
  background-image: linear-gradient(to right, #6EA9B1 50%, #77ACB4 50%);
  background-repeat: no-repeat;
}

.bg-2color-2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #588A93), color-stop(50%, #629DA5));
  background-image: linear-gradient(to right, #588A93 50%, #629DA5 50%);
  background-repeat: no-repeat;
}

.pageShadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btnCopy {
  color: white;
  border: 1px solid white;
  background-color: #588A93;
}

.btnCopy:hover {
  background-color: #456c73;
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.btn-resume {
  background-color: #EB6F50;
  color: white;
  border: 2px solid white;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.btn-resume:hover {
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

.cathandL {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  margin-bottom: -12px;
}

.cathandR {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  margin-bottom: -12px;
}
/*# sourceMappingURL=style.css.map */